@import url('https://fonts.googleapis.com/css?family=Black+Ops+One|Cabin+Sketch|Cinzel+Decorative');

html,body {
    height:100%;
}


body{
  background-image: url('../img/friday.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

h1,h2,h3{
  font-family: 'Black Ops One', cursive;
}

p{
  font-family: 'Cinzel Decorative', cursive;
}

nav{
  width: 90%;
  display: block;
}

nav ul{
  width: auto;
  margin-left: 41%;
}

nav li{
  list-style: none;
}

nav li a{
  font-family: 'Cabin Sketch', cursive;
  font-size:20px;
  text-decoration: none;
  float:left;
  padding: 10px;
  /*background-color: #111177 ;*/
  color: #fff;
}

nav li a:hover {
  /*background-color: #2586d7;*/
  text-decoration: underline;
  margin-top:-2px;
  padding-bottom:12px;
}

header {
  display:block;
  /*background:#286af0;*/
  padding:10px 0px;
  text-align: center;
}
section {
    width: 79%;
    /*background: #ccc;*/
    float: left;
    overflow: auto;
    padding-bottom: 60px;
    padding-top:30px;
    margin-left: 10%;
}

aside {
    float: right;
    /*border: 1px solid red;*/
    width: 19%;

    /*Si quisieramos ocultar el contenido relacionado pondriamos visibility a hidden*/
    /*visibility: hidden;*/
}

table, table td, table tr {
 padding:0px;
 border-spacing: 0px;
}

table {
 border:1px black solid;
 border-radius:5px;
 min-width:70%;
 font-family: Helvetica,Arial;
 text-align: center;
}

table td {
 padding:6px;
}

table tr:first-child td:first-child {
 border-radius:5px 0px 0px 0px;
}

table tr:first-child td:last-child {
 border-radius:0px 5px 0px 0px;
}

table tr:last-child td:first-child {
 border-radius:0px 0px 0px 5px;
}

table tr:last-child td:last-child {
 border-radius:0px 0px 5px 0px;
}

table td:not(:last-child) {
 border-right:1px #666 solid;
}


table tr:nth-child(2n) {
 background: #87CEEB;
}

table tr:nth-child(2n+1){
 background: #ADD8E6;
}

table.header tr:not(:first-child):hover, table:not(.header) tr:hover {
 background:#E0FFFF;
}

table:not(.header) tr {
 text-align: left;
}

table.header tr:first-child {
 font-weight: bold;
 color:#fff;
 background-color: #444;
 border-bottom:1px #000 solid;
}

table.header tr:nth-child(n+2) {
 text-align: right;
}

aside h1,h2{
  text-align: center;
}
footer {
    position: relative;
    margin-top: -50px;
    height: 40px;
    padding:5px 0px;
    clear: both;
    /*background: #286af0;*/
    text-align: center;
    color: #fff;
}
figure {
    display: table; margin: 0 auto;
}
