table, table td, table tr {
	padding:0px;
	border-spacing: 0px;
}

table {
	border:1px black solid;
	border-radius:5px;
	min-width:80%;
	font-family: Helvetica,Arial;
}

table td {
	padding:6px;
}

table tr:first-child td:first-child {
	border-radius:5px 0px 0px 0px;
}

table tr:first-child td:last-child {
	border-radius:0px 5px 0px 0px;
}

table tr:last-child td:first-child {
	border-radius:0px 0px 0px 5px;
}

table tr:last-child td:last-child {
	border-radius:0px 0px 5px 0px;
}

table td:not(:last-child) {
	border-right:1px #666 solid;
}


table tr:nth-child(2n) {
	background: #87CEEB;
}

table tr:nth-child(2n+1){
	background: #ADD8E6;
}

table.header tr:not(:first-child):hover, table:not(.header) tr:hover {
	background:#E0FFFF;
}

table:not(.header) tr {
	text-align: left;
}

table.header tr:first-child {
	font-weight: bold;
	color:#fff;
	background-color: #444;
	border-bottom:1px #000 solid;
}

table.header tr:nth-child(n+2) {
	text-align: right;
}
